{
  "openapi": "3.0.0",
  "info": {
    "title": "Exely Connect APIs",
    "version": "1.0.0"
  },
  "servers": [],
  "paths": {
    "/v1/properties/{propertyId}/cancellation-rules": {
      "get": {
        "tags": ["CancellationRules"],
        "summary": "Receive cancellation rules",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1024"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancellation rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentApi_CancellationRulesResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/content/"
        }
      ]
    },
    "/v1/properties": {
      "get": {
        "tags": ["ContentApi"],
        "summary": "Receive property entity",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "description": "Key to continue viewing from the required spot\r\n\r\nThe number of accommodations in the response is limited, so you may not always be able to get them all within one request.\r\n\r\nTo continue from the spot you left off, use this option.\r\n\r\nThe value of this parameter can always be obtained from the response (‘next’ property).\r\n\r\nIf you do not specify this parameter, you will obtain accommodations from the very beginning of the list.\r\n\r\nAnalogue to pagination.",
            "schema": {
              "type": "string",
              "example": "UlUtNDE5NQ=="
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of elements in the response.\r\n\r\nMaximum number of elements - 200 (default value)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 200
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Add additional information to the response\r\n\r\n‘All’ value: information about the hotel, room types, rate plans and services\r\n\r\nEmpty value: ‘Id’ only",
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "languageCode",
            "in": "query",
            "description": "Language code. Allowed values: 'en' (English).\r\n\r\nIf you do not specify this parameter, you will obtain accommodations in the property’s language.\r\n",
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed description of accommodations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentApi_PropertyInfoPage"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/content/"
        }
      ]
    },
    "/v1/properties/{propertyId}": {
      "get": {
        "tags": ["ContentApi"],
        "summary": "Receive description of a property",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1024"
            }
          },
          {
            "name": "languageCode",
            "in": "query",
            "description": "Language code. Allowed values: 'en' (English).\r\n\r\nIf you do not specify this parameter, you will obtain accommodations in the property’s language.\r\n",
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property detailed information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentApi_PropertyInfoType"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/content/"
        }
      ]
    },
    "/v1/meal-plans": {
      "get": {
        "tags": ["ContentApi"],
        "summary": "Receive entity of possible meal options",
        "responses": {
          "200": {
            "description": "Meal entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentApi_MealPlan"
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/content/"
        }
      ]
    },
    "/v1/room-type-categories": {
      "get": {
        "tags": ["ContentApi"],
        "summary": "Receive entity of possible room types",
        "responses": {
          "200": {
            "description": "Room type entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentApi_RoomTypeCategory"
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/content/"
        }
      ]
    },
    "/v1/room-amenity-categories": {
      "get": {
        "tags": ["ContentApi"],
        "summary": "Receive entity of possible room amenities",
        "responses": {
          "200": {
            "description": "Receive entity of possible room amenities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentApi_RoomAmenitiesCategories"
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/content/"
        }
      ]
    },
    "/v1/properties/{propertyId}/extra-stay-rules": {
      "get": {
        "tags": ["ExtraStayRules"],
        "summary": "Receive early check-in and late check-out rules",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1024"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Early check-in and late check-out rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentApi_ExtraStayRulesResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/content/"
        }
      ]
    },
    "/corporates": {
      "post": {
        "tags": ["CorporateApi"],
        "summary": "Creates a corporate client",
        "requestBody": {
          "description": "Corporate client creation entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferenceDataApi_CorporateRq"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferenceDataApi_CorporateRq"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReferenceDataApi_CorporateRq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferenceDataApi_CorporateRs"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://partner.tlintegration-eu.com/api/reference-data/"
        }
      ]
    },
    "/corporates/{corporateId}": {
      "get": {
        "tags": ["CorporateApi"],
        "summary": "Retrieves corporate client information",
        "parameters": [
          {
            "name": "corporateId",
            "in": "path",
            "description": "Identifier of the corporate client",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferenceDataApi_CorporateRs"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://partner.tlintegration-eu.com/api/reference-data/"
        }
      ]
    },
    "/payment-methods": {
      "get": {
        "tags": ["PaymentMethods"],
        "summary": "Get list of payment methods",
        "responses": {
          "200": {
            "description": "Payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferenceDataApi_PaymentMethodsResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://partner.tlintegration-eu.com/api/reference-data/"
        }
      ]
    },
    "/property-amenity-types": {
      "get": {
        "tags": ["PropertyAmenity"],
        "summary": "Get list of property amenity types",
        "parameters": [
          {
            "name": "languageCode",
            "in": "query",
            "description": "Optional language code. Example: 'en' (English).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property amenity types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferenceDataApi_PropertyAmenityTypesResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://partner.tlintegration-eu.com/api/reference-data/"
        }
      ]
    },
    "/property-kinds": {
      "get": {
        "tags": ["PropertyKind"],
        "summary": "Get list of property kinds",
        "parameters": [
          {
            "name": "languageCode",
            "in": "query",
            "description": "Optional language code. Example: 'en' (English).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property kinds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferenceDataApi_PropertyKindsResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://partner.tlintegration-eu.com/api/reference-data/"
        }
      ]
    },
    "/v1/properties/{propertyId}/bookings": {
      "get": {
        "tags": ["Reservation"],
        "summary": "Receive booking summaries",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "example": "1024"
          },
          {
            "name": "continueToken",
            "in": "query",
            "description": "Use the token from the previous response to continue receiving booking summaries including new and updated ones.<br />\r\nThe token must not request bookings modified earlier than 2009-01-01T00:00:00Z.<br />\r\nFor the first request, the parameter must be empty.",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum mumber of booking summaries in response.<br />\r\nThe maximum allowed value is 1000 (default).",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1000
          },
          {
            "name": "lastModification",
            "in": "query",
            "description": "Enumerate booking summaries based on the last modification datetime, starting from the specified datetime in UTC.<br />\r\nBookings can be requested starting from 2009-01-01T00:00:00Z.<br />\r\nFor subsequent requests, the parameter must be empty.<br />\r\nSpecifying both continueToken and lastModification results in an error.<br />\r\nIf neither continueToken nor lastModification is specified, a search for all bookings starting from 2009-01-01T00:00:00Z (a full sync) is initiated.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2023-06-20T10:41:04Z"
          }
        ],
        "responses": {
          "200": {
            "description": "Booking summary page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationApi_BookingsPage"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/read-reservation/"
        }
      ]
    },
    "/v1/properties/{propertyId}/bookings/{number}": {
      "get": {
        "tags": ["Reservation"],
        "summary": "Receive booking details",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "example": "7291"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Booking number",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "example": "20240303-7291-14573801"
          }
        ],
        "responses": {
          "200": {
            "description": "Response with booking details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationApi_GetBookingResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/read-reservation/"
        }
      ]
    },
    "/v1/properties/room-stays/search": {
      "post": {
        "tags": ["SearchRoomStays"],
        "summary": "Search for the lowest priced accommodation options across all available accommodations.\r\nThe maximum number of accommodation to be searched - 200.",
        "requestBody": {
          "description": "Search parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchApi_SimpleSearchCriteria"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchApi_SimpleSearchCriteria"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchApi_SimpleSearchCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accommodation options found for all available accommodations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchApi_AggregationSearchByPropertiesResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/search/"
        }
      ]
    },
    "/v1/properties/{propertyId}/room-stays": {
      "get": {
        "tags": ["SearchRoomStays"],
        "summary": "Search for accommodation options by specific accommodation",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Accommodation ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1024"
          },
          {
            "name": "arrivalDate",
            "in": "query",
            "description": "Check-in date.\r\n\r\nFormat complies with ISO-8601 YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2026-09-14"
            }
          },
          {
            "name": "departureDate",
            "in": "query",
            "description": "Check-out date.\r\n\r\nFormat complies with ISO-8601 YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2026-09-15"
            }
          },
          {
            "name": "adults",
            "in": "query",
            "description": "Number of adults",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "childAges",
            "in": "query",
            "description": "Child age range",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result of a search for accommodation options by accommodation in general.<br/>Includes accommodation and services that can be used when booking",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchApi_SearchByPropertyResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/search/"
        }
      ]
    },
    "/v1/properties/{propertyId}/services": {
      "post": {
        "tags": ["SearchRoomStays"],
        "summary": "Search for extra services by accommodation conditions",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Accommodation ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1024"
            }
          }
        ],
        "requestBody": {
          "description": "Search parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchApi_SearchServicesCriteria"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchApi_SearchServicesCriteria"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchApi_SearchServicesCriteria"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Result of a search for extra services by accommodation conditions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchApi_SearchExtraServicesByPropertyResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/search/"
        }
      ]
    },
    "/v1/properties/{propertyId}/extra-stays": {
      "post": {
        "tags": ["SearchRoomStays"],
        "summary": "Search for extra stays by accommodation conditions",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Accommodation ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1024"
            }
          }
        ],
        "requestBody": {
          "description": "Search parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchApi_SearchExtraStaysCriteria"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchApi_SearchExtraStaysCriteria"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchApi_SearchExtraStaysCriteria"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Result of a search for extra stays by accommodation conditions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchApi_SearchExtraStaysByPropertyResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/search/"
        }
      ]
    },
    "/v2/properties/{propertyId}/obtain-accommodation-inventory": {
      "get": {
        "tags": ["Property"],
        "summary": "Retrieves the accommodation inventory for a property.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ObtainAccommodationInventoryResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/companies": {
      "get": {
        "tags": ["PropertyCompany"],
        "summary": "Retrieves the list of companies for a property.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "Maximum number of items to return (<=100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token for next page. \r\n\r\nToken is in the response if the number of items exceeds the limit. \r\n\r\nSend it back to get the next set of items. \r\n\r\nIf the request contains the token, other parameters passed in the query are ignored.",
            "schema": {
              "type": "string",
              "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
            },
            "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_FindCompaniesResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/guests/search": {
      "get": {
        "tags": ["PropertyGuest"],
        "summary": "Searches guest profiles by name, phone or room number.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Partial phone number to match",
            "schema": {
              "type": "string",
              "example": "91390"
            },
            "example": "91390"
          },
          {
            "name": "roomName",
            "in": "query",
            "description": "Room/suite display name.",
            "schema": {
              "type": "string",
              "example": "111"
            },
            "example": "111"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Partial first or last name to match",
            "schema": {
              "type": "string",
              "example": "Jo"
            },
            "example": "Jo"
          },
          {
            "name": "languageCode",
            "in": "query",
            "description": "ISO 639-1 language code. Supported: en, ru, bg, cs, fr, id, ka, km, ko, pl, th, tr, uk, uz, vi.",
            "schema": {
              "type": "string",
              "example": "en"
            },
            "example": "en"
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "Maximum number of items to return (<=100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token for next page. \r\n\r\nToken is in the response if the number of items exceeds the limit. \r\n\r\nSend it back to get the next set of items. \r\n\r\nIf the request contains the token, other parameters passed in the query are ignored.",
            "schema": {
              "type": "string",
              "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
            },
            "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_FindGuestsResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/guests/{pmsPersonId}/loyalty-cards": {
      "get": {
        "tags": ["PropertyGuest"],
        "summary": "Retrieves basic loyalty card details for a guest.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "pmsPersonId",
            "in": "path",
            "description": "Guest identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599627465719"
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "Maximum number of items to return (<=100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token for next page. \r\n\r\nToken is in the response if the number of items exceeds the limit. \r\n\r\nSend it back to get the next set of items. \r\n\r\nIf the request contains the token, other parameters passed in the query are ignored.",
            "schema": {
              "type": "string",
              "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
            },
            "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_FindGuestLoyaltyCardsResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/guests/{pmsPersonId}": {
      "get": {
        "tags": ["PropertyGuest"],
        "summary": "Retrieves a guest profile by its PMS identifier.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "pmsPersonId",
            "in": "path",
            "description": "Guest identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599627465719"
          },
          {
            "name": "languageCode",
            "in": "query",
            "description": "ISO 639-1 language code. Supported: en, ru, bg, cs, fr, id, ka, km, ko, pl, th, tr, uk, uz, vi.",
            "schema": {
              "type": "string",
              "example": "en"
            },
            "example": "en"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_GetGuestResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/guests/{pmsPersonId}/find-occupied-room-stays": {
      "get": {
        "tags": ["PropertyGuest"],
        "summary": "Retrieves the list of stays for a given guest.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "pmsPersonId",
            "in": "path",
            "description": "Guest identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599627465719"
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "Maximum number of items to return (<=100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token for next page. \r\n\r\nToken is in the response if the number of items exceeds the limit. \r\n\r\nSend it back to get the next set of items. \r\n\r\nIf the request contains the token, other parameters passed in the query are ignored.",
            "schema": {
              "type": "string",
              "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
            },
            "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_FindGuestRoomStaysResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/guests/{pmsPersonId}/personal-document": {
      "put": {
        "tags": ["PropertyGuest"],
        "summary": "Updates guest’s identity document details.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "pmsPersonId",
            "in": "path",
            "description": "Guest identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599627465719"
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetGuestPersonalDocumentRequest"
                  }
                ],
                "description": "Request to set guest identity document details"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetGuestPersonalDocumentRequest"
                  }
                ],
                "description": "Request to set guest identity document details"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetGuestPersonalDocumentRequest"
                  }
                ],
                "description": "Request to set guest identity document details"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/guests/{pmsPersonId}/birth-address": {
      "put": {
        "tags": ["PropertyGuest"],
        "summary": "Updates guest's place of birth details.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "pmsPersonId",
            "in": "path",
            "description": "Guest identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599627465719"
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetGuestBirthAddressRequest"
                  }
                ],
                "description": "Request to set guest’s country of birth"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetGuestBirthAddressRequest"
                  }
                ],
                "description": "Request to set guest’s country of birth"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetGuestBirthAddressRequest"
                  }
                ],
                "description": "Request to set guest’s country of birth"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/guests/{pmsPersonId}/personal-document/files": {
      "post": {
        "tags": ["PropertyGuest"],
        "summary": "Uploads guest’s identity document scan files.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "pmsPersonId",
            "in": "path",
            "description": "Guest identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599627465719"
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_AddGuestPersonalDocumentFilesRequest"
                  }
                ],
                "description": "Request to upload one or more guest identity document files"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_AddGuestPersonalDocumentFilesRequest"
                  }
                ],
                "description": "Request to upload one or more guest identity document files"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_AddGuestPersonalDocumentFilesRequest"
                  }
                ],
                "description": "Request to upload one or more guest identity document files"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/{number}": {
      "get": {
        "tags": ["PropertyReservation"],
        "summary": "Retrieves reservation details by reservation number.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Reservation number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "22200222-111-99999999"
          },
          {
            "name": "languageCode",
            "in": "query",
            "description": "ISO 639-1 language code. Supported: en, ru, bg, cs, fr, id, ka, km, ko, pl, th, tr, uk, uz, vi.",
            "schema": {
              "type": "string",
              "example": "en"
            },
            "example": "en"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_GetReservationResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/search": {
      "get": {
        "tags": ["PropertyReservation"],
        "summary": "Searches reservations by parameters; at least one time period must be specified.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "roomId",
            "in": "query",
            "description": "Room/suite identifier",
            "schema": {
              "type": "string",
              "example": "4503599627373585"
            },
            "example": "4503599627373585"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Reservation status filter (\"Active\" or \"Cancelled\")",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Active"
            },
            "example": "Active"
          },
          {
            "name": "startModifyDateTime",
            "in": "query",
            "description": "Last modification of the reservation is on or after the specified datetime in ISO-8601 yyyy-MM-ddTHH:mm format, local time.\r\n\r\nLimit for \"Modify\" range is 365 days.",
            "schema": {
              "type": "string",
              "example": "2024-09-09T11:11"
            },
            "example": "2024-09-09T11:11"
          },
          {
            "name": "endModifyDateTime",
            "in": "query",
            "description": "Last modification of the reservation is on or before the specified datetime in ISO-8601 yyyy-MM-ddTHH:mm format, local time.\r\n\r\nLimit for \"Modify\" range is 365 days.",
            "schema": {
              "type": "string",
              "example": "2025-09-09T11:11"
            },
            "example": "2025-09-09T11:11"
          },
          {
            "name": "startAffectPeriodDateTime",
            "in": "query",
            "description": "Stay or part of stay is after the specified datetime in ISO-8601 yyyy-MM-ddTHH:mm format, local time.\r\n\r\nLimit for \"AffectPeriod\" range is 365 days",
            "schema": {
              "type": "string",
              "example": "2024-09-09T11:11"
            },
            "example": "2024-09-09T11:11"
          },
          {
            "name": "endAffectPeriodDateTime",
            "in": "query",
            "description": "Stay or part of stay is before the specified datetime in ISO-8601 yyyy-MM-ddTHH:mm format, local time.\r\n\r\nLimit for \"AffectPeriod\" range is 365 days",
            "schema": {
              "type": "string",
              "example": "2025-09-09T11:11"
            },
            "example": "2025-09-09T11:11"
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "Maximum number of items to return (<=100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token for next page. \r\n\r\nToken is in the response if the number of items exceeds the limit. \r\n\r\nSend it back to get the next set of items. \r\n\r\nIf the request contains the token, other parameters passed in the query are ignored.",
            "schema": {
              "type": "string",
              "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
            },
            "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_FindReservationsResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/{number}/find-available-rooms": {
      "get": {
        "tags": ["PropertyReservation"],
        "summary": "Searches available rooms for each stay in the reservation.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Reservation number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "22200222-111-99999999"
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "Maximum number of items to return (<=100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token for next page. \r\n\r\nToken is in the response if the number of items exceeds the limit. \r\n\r\nSend it back to get the next set of items. \r\n\r\nIf the request contains the token, other parameters passed in the query are ignored.",
            "schema": {
              "type": "string",
              "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
            },
            "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_FindReservationRoomsResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/{number}/assign-rooms": {
      "post": {
        "tags": ["PropertyReservation"],
        "summary": "Assigns room/suite for each stay in the reservation.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Reservation number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "22200222-111-99999999"
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PmsApi_SetRoomStayRoomRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PmsApi_SetRoomStayRoomRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PmsApi_SetRoomStayRoomRequest"
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/{number}/room-stays/{pmsRoomStayId}/check-in": {
      "post": {
        "tags": ["PropertyReservation"],
        "summary": "Assigns the actual check-in time for a stay.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Reservation number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "22200222-111-99999999"
          },
          {
            "name": "pmsRoomStayId",
            "in": "path",
            "description": "Room stay identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599628227391"
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetActualCheckInDateTimeRequest"
                  }
                ],
                "description": "Request to set actual check-in time"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetActualCheckInDateTimeRequest"
                  }
                ],
                "description": "Request to set actual check-in time"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetActualCheckInDateTimeRequest"
                  }
                ],
                "description": "Request to set actual check-in time"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/{number}/room-stays/{pmsRoomStayId}/check-out": {
      "post": {
        "tags": ["PropertyReservation"],
        "summary": "Assigns the actual check-out time for a stay.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Reservation number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "22200222-111-99999999"
          },
          {
            "name": "pmsRoomStayId",
            "in": "path",
            "description": "Room stay identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599628227391"
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetActualCheckOutDateTimeRequest"
                  }
                ],
                "description": "Request to set actual check-out time"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetActualCheckOutDateTimeRequest"
                  }
                ],
                "description": "Request to set actual check-out time"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetActualCheckOutDateTimeRequest"
                  }
                ],
                "description": "Request to set actual check-out time"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/{number}/room-stays/{pmsRoomStayId}/find-available-payment-systems": {
      "get": {
        "tags": ["PropertyReservation"],
        "summary": "Retrieves available payment methods for a stay.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Reservation number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "22200222-111-99999999"
          },
          {
            "name": "pmsRoomStayId",
            "in": "path",
            "description": "Room stay identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599628227391"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Transaction type (\"Payment\" or \"Refund\")",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PmsApi_PaymentActionKind"
                }
              ],
              "example": "Payment"
            },
            "example": "Payment"
          },
          {
            "name": "languageCode",
            "in": "query",
            "description": "ISO 639-1 language code. Supported: en, ru, bg, cs, fr, id, ka, km, ko, pl, th, tr, uk, uz, vi.",
            "schema": {
              "type": "string",
              "example": "en"
            },
            "example": "en"
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "Maximum number of items to return (<=100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token for next page. \r\n\r\nToken is in the response if the number of items exceeds the limit. \r\n\r\nSend it back to get the next set of items. \r\n\r\nIf the request contains the token, other parameters passed in the query are ignored.",
            "schema": {
              "type": "string",
              "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
            },
            "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_GetPaymentSystemsForPaymentResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/{number}/room-stays/{pmsRoomStayId}/process-payment": {
      "post": {
        "tags": ["PropertyReservation"],
        "summary": "Processes a payment for a stay.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Reservation number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "22200222-111-99999999"
          },
          {
            "name": "pmsRoomStayId",
            "in": "path",
            "description": "Room stay identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599628227391"
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SavePaymentRequest"
                  }
                ],
                "description": "Request to process a payment"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SavePaymentRequest"
                  }
                ],
                "description": "Request to process a payment"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SavePaymentRequest"
                  }
                ],
                "description": "Request to process a payment"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/{number}/room-stays/{pmsRoomStayId}/process-refund": {
      "post": {
        "tags": ["PropertyReservation"],
        "summary": "Processes a refund for a stay.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Reservation number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "22200222-111-99999999"
          },
          {
            "name": "pmsRoomStayId",
            "in": "path",
            "description": "Room stay identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599628227391"
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SavePaymentRequest"
                  }
                ],
                "description": "Request to process a payment"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SavePaymentRequest"
                  }
                ],
                "description": "Request to process a payment"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SavePaymentRequest"
                  }
                ],
                "description": "Request to process a payment"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/{number}/room-stays/{pmsRoomStayId}/room": {
      "put": {
        "tags": ["PropertyReservation"],
        "summary": "Assigns a room for a stay.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Reservation number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "22200222-111-99999999"
          },
          {
            "name": "pmsRoomStayId",
            "in": "path",
            "description": "Room stay identifier in PMS",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4503599628227391"
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetRoomRequest"
                  }
                ],
                "description": "Request to assign a room"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetRoomRequest"
                  }
                ],
                "description": "Request to assign a room"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PmsApi_SetRoomRequest"
                  }
                ],
                "description": "Request to assign a room"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/reservations/{number}/invoices": {
      "get": {
        "tags": ["PropertyReservation"],
        "summary": "Retrieves all invoices related to a reservation.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "number",
            "in": "path",
            "description": "Reservation number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "22200222-111-99999999"
          },
          {
            "name": "languageCode",
            "in": "query",
            "description": "ISO 639-1 language code. Supported: en, ru, bg, cs, fr, id, ka, km, ko, pl, th, tr, uk, uz, vi.",
            "schema": {
              "type": "string",
              "example": "en"
            },
            "example": "en"
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "Maximum number of items to return (<=100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token for next page. \r\n\r\nToken is in the response if the number of items exceeds the limit. \r\n\r\nSend it back to get the next set of items. \r\n\r\nIf the request contains the token, other parameters passed in the query are ignored.",
            "schema": {
              "type": "string",
              "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
            },
            "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_FindInvoicesResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v2/properties/{propertyId}/rooms": {
      "get": {
        "tags": ["PropertyRoom"],
        "summary": "Retrieves the list of rooms/suites for a property.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "roomTypeId",
            "in": "query",
            "description": "Room type identifier",
            "schema": {
              "type": "string",
              "example": "315367"
            },
            "example": "315367"
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "Maximum number of items to return (<=100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 100
            },
            "example": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Pagination token for next page. \r\n\r\nToken is in the response if the number of items exceeds the limit. \r\n\r\nSend it back to get the next set of items. \r\n\r\nIf the request contains the token, other parameters passed in the query are ignored.",
            "schema": {
              "type": "string",
              "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
            },
            "example": "V2Ugd2lzaCB5b3UgcHJvZHVjdGl2ZSBpbnRlcmFjdGlvbiE="
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsApi_FindRoomsResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms"
        }
      ]
    },
    "/v1/properties/{propertyId}/daily-occupancy": {
      "get": {
        "tags": ["PropertyAnalytics"],
        "summary": "Retrieves daily occupancy statistics for a property.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property Identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5431"
          },
          {
            "name": "startStayDate",
            "in": "query",
            "description": "Start date of the stay period for reported statistics (ISO-8601 format YYYY-MM-DD).\r\nLimit for date range is 31 days",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-01-01"
            },
            "example": "2026-01-01"
          },
          {
            "name": "endStayDate",
            "in": "query",
            "description": "End date of the stay period for reported statistics. (ISO-8601 format YYYY-MM-DD).\r\nLimit for date range is 31 days",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-01-25"
            },
            "example": "2026-01-25"
          },
          {
            "name": "otbDate",
            "in": "query",
            "description": "Optional OTB (On-the-Books) snapshot date. If specified, the historical statistics will be filtered\r\nbased solely on the booking creation date",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-15"
            },
            "example": "2025-01-15"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsAnalyticsApi_ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsAnalyticsApi_ApiResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsAnalyticsApi_GetDailyOccupancyResponse"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms-analytics"
        }
      ]
    },
    "/v1/properties/{propertyId}/bookings/{bookingId}": {
      "get": {
        "tags": ["Bookings"],
        "summary": "Retrieves booking details. The bookingId is obtained from a pms_integration_storage:booking_changed webhook event.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2490"
          },
          {
            "name": "bookingId",
            "in": "path",
            "description": "Booking id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "606541"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_BookingRs"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms-integration-storage"
        }
      ]
    },
    "/v1/properties/{propertyId}/inventories/search": {
      "post": {
        "tags": ["Inventory"],
        "summary": "Returns PMS inventory filtered by room type codes and date range.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2490"
          }
        ],
        "requestBody": {
          "description": "Search filters: room type codes and date range",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PmsIntegrationApi_SearchInventoryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PmsIntegrationApi_SearchInventoryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PmsIntegrationApi_SearchInventoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_SearchInventoryRs"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms-integration-storage"
        }
      ]
    },
    "/v1/properties/{propertyId}/inventories/blocks/{inventoryBlockId}": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Retrieves inventory block details. The inventoryBlockId is obtained from a pms_integration_storage:inventory_block_changed webhook event.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2490"
          },
          {
            "name": "inventoryBlockId",
            "in": "path",
            "description": "Inventory block id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "12345"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_InventoryBlockRs"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms-integration-storage"
        }
      ]
    },
    "/v1/properties/{propertyId}/calculate-stay-units": {
      "get": {
        "tags": ["Statistics"],
        "summary": "Calculates the number of booked stay units (days or nights) for a given period and rate plan.",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2490"
          },
          {
            "name": "firstStayDate",
            "in": "query",
            "description": "First date of the period for calculation (inclusive) in ISO-8601 yyyy-MM-dd format, property local time",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-05-15"
          },
          {
            "name": "lastStayDate",
            "in": "query",
            "description": "Last date of the period for calculation (inclusive) in ISO-8601 yyyy-MM-dd format, property local time",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-08-15"
          },
          {
            "name": "pmsSideRatePlanCode",
            "in": "query",
            "description": "Rate plan code from PMS (**case-sensitive**). Specified rate plan is used to filter bookings for calculation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BAR1"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_ErrorRs"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PmsIntegrationApi_BookedNightsCountRs"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://connect.hopenapi.com/api/pms-integration-storage"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "ContentApi_Address": {
        "required": ["countryCode"],
        "type": "object",
        "properties": {
          "postalCode": {
            "type": "string",
            "description": "Postcode",
            "nullable": true,
            "example": "SW1A 1AA"
          },
          "countryCode": {
            "minLength": 1,
            "type": "string",
            "description": "Country code.\r\n\r\nCompliant with ISO 3166-1 Alpha3",
            "example": "GBR"
          },
          "region": {
            "type": "string",
            "description": "Region",
            "nullable": true,
            "example": "London"
          },
          "regionId": {
            "type": "string",
            "description": "Region ID",
            "nullable": true,
            "example": "020"
          },
          "cityName": {
            "type": "string",
            "description": "City name",
            "nullable": true,
            "example": "London"
          },
          "cityId": {
            "type": "string",
            "description": "City ID",
            "nullable": true,
            "example": "1"
          },
          "addressLine": {
            "type": "string",
            "description": "Property address including street and house number",
            "nullable": true,
            "example": "123 Main St."
          },
          "latitude": {
            "type": "number",
            "description": "Geographical latitude",
            "format": "double",
            "nullable": true,
            "example": 51.5074
          },
          "longitude": {
            "type": "number",
            "description": "Geographical longitude",
            "format": "double",
            "nullable": true,
            "example": -0.1278
          },
          "remark": {
            "type": "string",
            "description": "(Planned) Further information on how to get there",
            "nullable": true,
            "example": "Take the second left after the bridge"
          }
        },
        "additionalProperties": false,
        "description": "Property address"
      },
      "ContentApi_Amenity": {
        "required": ["code"],
        "type": "object",
        "properties": {
          "code": {
            "minLength": 1,
            "type": "string",
            "description": "Amenity code",
            "example": "wifi_internet"
          }
        },
        "additionalProperties": false,
        "description": "Room amenities"
      },
      "ContentApi_AmenityChargeType": {
        "enum": ["None", "Free", "Chargeable"],
        "type": "string",
        "description": "Amenity charge type:\r\n\r\nNone - Charge type is not applicable or not specified\r\n\r\nFree - Amenity is free\r\n\r\nChargeable - Chargeable amenity\r\n"
      },
      "ContentApi_AmenityInfo": {
        "required": ["code"],
        "type": "object",
        "properties": {
          "code": {
            "minLength": 1,
            "type": "string",
            "description": "Amenity code",
            "example": "wifi_internet"
          },
          "name": {
            "type": "string",
            "description": "Amenity name",
            "nullable": true,
            "example": "Wi-Fi-internet"
          }
        },
[...]
